@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  min-height: 100vh;
}
img {
  max-width: 100%;
}
p {
  margin-bottom: 5px;
}
h5 {
  margin: 10px 0;
}
.meal {
  margin: 20px 0;
}
.text-center {
  text-align: center;
}
.row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.five {
  width: 41.66%;
}
.seven {
  width: 58.32%;
  padding: 3rem 2rem;
}
button {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .seven {
    padding: 0 1rem;
  }
}
@media (max-width: 425px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .five {
    width: 100%;
  }
  .seven {
    width: 100%;
  }
}
